@model IEnumerable<WebApplication1.Models.Room>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách yêu cầu</h2>

<table class="table">
    <tr>
        <th>
            Thuộc nhà
        </th>
        <th>
            Tên phòng
        </th>
        <th>
            Loại phòng
        </th>
        <th>
            Người đăng kí thuê
        </th>
        <th>
            Trạng thái
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/Houses/Details/@item.HouseId">
                    <p>@item.House.Name</p>
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentUser)
            </td>
            <td>
                @if (item.Verified == false)
                {
                    if (item.RentUser == null)
                    {
                        <p class="text-warning">Chưa có đăng kí</p>
                    }
                    else
                    {
                        <p class="text-danger">Chưa duyệt</p>
                    }
                }
                else
                {
                    <p class="text-success">Đã duyệt</p>
                }
            </td>
            <td>
                @*<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#declineModal" data-id="@item.Id">
                    Từ chối
                </button>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#acceptModal" data-id="@item.Id">
                    Phê duyệt
                </button>*@
            </td>
        </tr>
    }

</table>
