@model WebApplication1.Models.HouseViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin chi tiết</h2>

<h4>Thông tin chung</h4>
<hr />
<div class="row">
    <div class="col-6">
        @if (Model.Medias.Count > 0)
        {
            foreach (var item in Model.Medias)
            {
                <img class="house-img" src="~/Media/Files/?p=@(item.Id + item.Media_Extension)&d=@item.Media_Name" />
            }
        }
        else
        {
            <img class="house-img" src="~/Media/Files/?p=default.jpg&d=default" />
        }
    </div>
    <div class="col-6">
        <p>
            Tên: @Model.Name
        </p>
        <p>
            Địa chỉ: @Model.Location
        </p>
        <p>
            Quận/Huyện: @Model.District
        </p>
        <p>
            Tỉnh: @Model.Province
        </p>
        <p>
            Chi tiết: @Model.Description
        </p>
        <p>
            Số phòng: @Model.Room_Count
        </p>
        <p>
            Trạng thái: @Model.Status
        </p>
    </div>
</div>


<h4>Thông tin phòng</h4>
<a class="btn btn-primary" href="@Url.Action("AddRoom", "Houses")">Thêm mới</a>
<hr />
<div class="row"></div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#roomModal">
    Thêm mới phòng
</button>

<!-- Modal -->
<div class="modal fade" id="roomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
       
        <div class="modal-content">
            @using (Html.BeginForm("AddRoom", "Houses", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Thêm mới phòng trọ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-4">
                            <h4>Ảnh</h4>
                            <div class="row">
                                <div class="col-8">
                                    <input class="media-img form-control" type="file" name="files" multiple />
                                </div>
                                <div class="col-4">
                                    <button type="button" class="clear-media btn btn-warning right">Xóa hết</button>
                                </div>
                            </div>

                            <div class="preview">

                            </div>
                        </div>
                        <div class="col-8">
                            <h4>Thông tin</h4>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.RoomName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RoomName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.RoomName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.RoomType, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RoomType, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.RoomType, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
             }
        </div>
    </div>
</div>


<h4>Thông tin đồ trong nhà</h4>
<a class="btn btn-primary" href="@Url.Action("AddItem", "Houses")">Thêm mới</a>
<hr />
<div class="row"></div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
