@model IEnumerable<WebApplication1.Models.House>
@{
    ViewBag.Title = "Me";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nhà trọ cá nhân</h2>

<div class="row">
    <div class="col-8">
        @using (Html.BeginForm("Index", "Houses", FormMethod.Post))
        {

            <div>
                <input type="text" id="query" name="query" />

                <input type="submit" id="search-btn" value="Tìm kiếm" class="btn btn-primary" />
                <a class="btn btn-success" href="@Url.Action("Index", "Houses")">Tải lại</a>
            </div>

        }

        @{
            if (ViewBag.SearchKey != null)
            {
                <span>
                    Search Key: @ViewBag.SearchKey
                </span>
            }
        }
    </div>
    <div class="col-4 text-right pr-5">
        <a class="btn btn-primary" href="@Url.Action("Create", "Houses")">Thêm mới</a>
    </div>
</div>


<hr />

<div class="content-house">
    @foreach (var item in Model)
    {
        <a class="house-item" href="@Url.Action("Details", "Houses", new { id=item.Id })">
            <div>
                <div class="house-thumb">
                    @if (item.Medias.Count > 0)
                    {
                        <img class="house-thumb-img" src="~/Media/Files/?p=@(item.Medias.ElementAt(0).Id + item.Medias.ElementAt(0).Media_Extension)&d=@item.Medias.ElementAt(0).Media_Name" />
                    }
                    else
                    {
                        <img class="house-thumb-img" src="~/Media/Files/?p=default.jpg&d=default" />
                    }
                </div>
                <div class="row house-content">
                    <div class="col-6">
                        @item.Name
                    </div>
                    <div class="col-6 text-right">
                        @item.Location
                    </div>
                </div>
            </div>
        </a>
    }
</div>
