@model PagedList.IPagedList<WebApplication1.Models.HistoryVM>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Danh mục thay đổi</h3>

<div class="row">
    <div class="col-8">
        @using (Html.BeginForm())
        {
            <div>
                <input type="text" id="SearchString" name="SearchString" />

                <input type="submit" id="search-btn" value="Tìm kiếm" class="btn btn-primary" />
                <a class="btn btn-success" href="@Url.Action("Index", "Transactions")">Tải lại</a>
            </div>
        }
    </div>
    <div class="col-4 text-right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#wardModal">
            Tạo mới
        </button>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            Thời gian
        </th>
        <th>
            Tài sản
        </th>
        <th>
            Từ nhà
        </th>
        <th>
            Từ phòng
        </th>
        <th>
            Từ trạng thái
        </th>
        <th>
            Đếm nhà
        </th>
        <th>
            Đến phòng
        </th>
        <th>
            Đến trạng thái
        </th>
        <th>
            Hình ảnh
        </th>
        <th>
            Duyệt
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromHouse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToHouse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToStatus)
            </td>
            <td width="20%">
                @if (item.Media != null)
                {
                    <img class="house-thumb-img" src="~/Media/Files/?p=@(item.Media.Id + item.Media.Media_Extension)&d=@item.Media.Media_Name" />
                }
                else
                {
                    <img class="house-thumb-img" src="~/Media/Files/?p=default.jpg&d=default" />
                }
            </td>
            <td>
                @if (item.IsVerified == false)
                {
                    <p class="text-danger">Chưa duyệt</p>
                }
                else
                {
                    <p class="text-success">Đã duyệt</p>
                }
            </td>
            <td>
                @if (item.IsVerified == false)
                {
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#declineModal" data-id="@item.Id">
                        Từ chối
                    </button>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#acceptModal" data-id="@item.Id">
                        Phê duyệt
                    </button>
                }
            </td>
        </tr>
    }

</table>








<div class="modal fade" id="deleteFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">

        <div class="modal-content">
            @using (Html.BeginForm("Delete", "Wards", FormMethod.Post))
            {
                <input data-val="true" id="delete-id" name="Id" type="hidden" />

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Xóa dữ liệu trạng thái?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    Bạn có muốn xóa ?
                </div>
                <div class="modal-footer row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <input type="submit" value="Xóa" class="btn btn-danger" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                    <div class="col-md-6"></div>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        $('#wardModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var recipient = button.data('id')
            if (recipient == null) {
                var modal = $(this)
                modal.find('#province-id').attr("value", null)
                modal.find('#Name').val('')
                modal.find('#Type').val('')
            } else {
                var modal = $(this)
                modal.find('#province-id').attr("value", recipient)
                modal.find('#Name').val(button.data('name'))
                modal.find('#Type').val(button.data('type'))
            }
        })
    </script>
}