@model WebApplication1.Models.EditUserViewModel
@{
    ViewBag.Title = "Me";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Me</h2>


@using (Html.BeginForm("Me", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>EditUserViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-md-4">
                <h4>Avatar</h4>
                <div class="row">
                    <div class="col-8">
                        <input class="media-img form-control" type="file" name="files" />
                    </div>
                    <div class="col-4">
                        <button type="button" class="clear-media btn btn-warning right">Xóa hết</button>
                    </div>
                </div>

                <div class="preview">
                    @if (Model.Avatar != null)
                    {
                        <img class="house-img" src="~/Media/Files/?p=@(Model.Avatar.Id + Model.Avatar.Media_Extension)&d=@Model.Avatar.Media_Name" />
                    }
                </div>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <label class="control-label col-md-2" for="UserName">User Name</label>
                    @Html.HiddenFor(model => model.UserName)
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.UserName, new { disabled = "disabled", @readonly = "readonly" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="FirstName">Tên</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="LastName">Họ</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName)
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="Email">Email</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Lưu lại" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Trở lại", "Admin", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
